
<div class="container">
<div class="card" style="width: 100rem;">
  <img style="height:500px ;width:800px;margin-left: 20rem;" [src]="Car.img" class="img-fluid rounded-start" alt="...">
  <div class="card-body" style="text-align: center;">
    <h5 class="card-title">FICHE TECHNIQUE</h5>
    <br>
    <h6 class="card-text" >{{Car.nom}}</h6><br><br>
    <p class="card-text" >NOMBRE DE CYLINDRES : <strong >{{Car.nbCyl}}</strong></p><br><br>
    <p class="card-text">ENERGIE : <strong >{{Car.energie}}</strong></p><br><br>
    <p class="card-text">PUISSANCE FISCALE : <strong > {{Car.puisFis}}</strong></p><br><br>
    <p class="card-text">PUISSANCE (CH.DIN) : <strong >{{Car.puiss}}</strong></p><br><br>
    <p class="card-text">COUPLE : <strong >{{Car.couple}}</strong></p><br><br>
    <p class="card-text">CYLINDRÉE : <strong>{{Car.cyl}}</strong></p>
  </div>
</div>
<div>
  <a routerLink='/accueil' routerLinkActive="active" class="btn btn-outline-info"><h5>Return</h5></a>
</div>
</div>

