
<nav class="navbar navbar-expand-sm bg-black navbar-black ">
    <div class="container-fluid">
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="navbar-brand" href="#">
            <img src="assets\Logo.png" alt="Avatar Logo" style="width:150px;"> 
          </a>
    </li>
    <li class="nav-item">
         <a class="nav-link" routerLink='/accueil'>Accueil</a></li>
    <li class="nav-item">
         <a class="nav-link" routerLink='/produits'>Produit</a></li>
    <li class="nav-item">
         <a class="nav-link" routerLink='/contact'>Inscription</a></li>
</ul>
<form class="d-flex">
    <input class="form-control me-2" type="text" placeholder="Search">
    <button class="btn btn-primary" type="button">Search</button>
  </form>
</div>
</nav>
