<div class="granddiv">
    
    <div  class="row" style="margin-bottom:3px " style="margin-left:600px"  >
    <ul class="gdiv list-group list-group-horizontal">
    <li  class="col-sm-s">
    <div class="card box image" style="width : 25rem;height : 25rem">
        <img [src]="voiture.image" class="card-img-top p-2" height="250px" width="900px" />
    <h4  class="card-title v"> {{voiture.modele}}</h4>
    <p class="card-title v"><strong> Prix: </strong>{{ voiture.prix | number :"0.3" }} DT </p>
    <p class="card-title v"><strong>Marque: </strong>{{ voiture.marque  }} </p>
    {{voiture.description}}
    
    <!-- <p class="card-title v"> Date de creation:{{ select. datecreation }} </p> -->
   <!-- <div class="card-title v">  en stock <input  type="checkbox" [checked]="select.enstock">  </div> -->
    </div>
    </li>
    </ul>
    </div>
    </div>