<app-menu></app-menu>
<router-outlet></router-outlet>
<footer >
  <!-- <div class="row">
   <h3>PLANET CAR</h3>
  </div> -->
  <!-- Grid container -->
 <div class="col">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <div class="d" style="display: flex;">
    <div class="a"> 
         <h4> <i class="fa-solid fa-clock"></i> livraison gratuite </h4> 
        <p> 24 ou 48 les jours ouvrés </p>
    </div>
    
     <div class="b"> 
       <h4> <i class="fa-solid fa-truck"></i> livraison offerte  </h4>
       <p> dés 60£ d'achat  </p>
    </div>
    
    <div class="c"> 
        <h4>  <i class="fa-sharp fa-solid fa-sack-dollar"></i> paiement securisé  </h4>
       <p>    carte bancaire , chéque , espece </p>
      
     </div>
     
     <div class="e"> 
        <h4> <i class="fa-sharp fa-solid fa-credit-card"></i> avantage fidelité   </h4>
        <p> 5% de votre commande sur votre prochain achat  </p>
     </div>
    
    </div>

</footer>

  