
<router-outlet></router-outlet>
<footer >
   <div class="row">
  <img src="../assets/Logo.png">
  </div>
  <br>
  <br>
  <div style="margin-left:5% ;">
  <h5>The engine of life together</h5>
  </div> 
  <!-- Grid container -->
 <div class="col">
    <!-- Section: Social media -->
    <div style="margin-top: -30px;">
      <h3>Contact Us</h3>
      <h5><i class="fa-solid fa-phone-volume"></i>:+216 20473700<br></h5>
      <h5><i class="fa-solid fa-envelope"></i>:shaymalassoued99@gail.com</h5>
         
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/oumayma.werghimmi"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>



      <!-- Instagram -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/lassoued_shayma/?hl=fr"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      
      <!-- Github -->
      <a
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/ShaymaLD"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    </div>
    <!-- Section: Social media -->
  </div>
  <div class="d" style="display: flex;">
    <div class="a"> 
         <h4> <i class="fa-solid fa-clock"></i> livraison gratuite </h4> 
        <p> 24 ou 48 les jours ouvrés </p>
    </div>
    
     <div class="b"> 
       <h4> <i class="fa-solid fa-truck"></i> livraison offerte  </h4>
       <p> dés 60£ d'achat  </p>
    </div>
    
    <div class="c"> 
        <h4>  <i class="fa-sharp fa-solid fa-sack-dollar"></i> paiement securisé  </h4>
       <p>    carte bancaire , chéque , espece </p>
      
     </div>
     
     <div class="e"> 
        <h4> <i class="fa-sharp fa-solid fa-credit-card"></i> avantage fidelité   </h4>
        <p> 5% de votre commande sur votre prochain achat  </p>
     </div>

    </div>
  

</footer>

  