<app-menu></app-menu>
<h1 style="text-align: center;"><span style="color: blue;">Palnet Car</span>-"The engine of life together"</h1>
<br><br>
<h5 style="margin-left: 20%;"><span style="color: blue;">Planet Car </span>started in 2018 and has since become a prominent,
 trusted, and well-known name in the automotive sell not only in the TUNISIA, <br>
 but around the globe. the company is located in the Charguia 2, Ariana, Tunisia.<br>
  In our inventory, you can find luxury cars: <span style="color: cyan;">Marcedes,BMW, Jeep, Peugeot, Suzuki, Toyota,KIA,Chery,Ford,Hyundai</span>.<br>
 You can browse our extensive online inventory or contact us today to discuss your next vehicle purchase.</h5>
<img src="../../assets/maxres.jpg" style="height: 400px;width:1000px;margin-left: 20%;">
<h5 style="margin-left: 20% ;">We are driven by our mission "To become the most trusted source for car sell in TUNISIA".<br>
 We offer brand new cars ranging from low cost to premium luxury in order to accomplish our mission. <br>
 Being a leading Brand New Vehicle Exporter, we always deliver the inventory on time and respond to customer demands accordingly.<br>
  Also, with our quality services and competitive pricing, we provide our clients with the highest value.<br>
   As a result of our association with the leading brands, we can always provide our customers with the most suitable solution for their transporting needs.<br>
    We establish a long-term business relationship by delivering high-quality services and partnerships that rely on respect, transparency, and offers that meet your needs.<br>
     Our company's success is determined as much by our clients' satisfaction as by our financial gains. </h5>
     <br><br>
     <div style="margin-left: 20%;">
     <h5>Want to Import the Best Vehicles for Your Needs? Get in Touch</h5>

     <h6>Can't find the best cars for your needs where you are located?
         Importing a car is not as costly or as difficult as you might think if you work with <span style="color: blue;">Palnet Car</span>.
          Your satisfaction is our primary goal, and we are committed to providing a reliable service you can count on. Not only that,
           we want to make buying and importing of your dream cars as easy and seamless for you as possible. </h6>
<br><br>
      <h6><a  routerLink='/contact' style="color: red;">Contact us</a> today to discuss your specific purchase and import needs.</h6>
      </div>
      <br>
      <br>
      <div style="margin-left: 40%;">
        <h2>Thanking</h2>
        <h6>we would like to thank you with all our heart for the support you have shown to our in (Angular),<br>
             throughout this school year.<br>
            we believe that without you, (having our experience) would not have been possible as your courses,<br>
             as well as your help, have been invaluable to our and have allowed we to progress in the field (development of computer systems).<br>
            we are sincerely grateful to you for all these things...<br><br>
            
            we wish you a good continuation and I ask you to believe, Mrs.<span style="color: orange;"> Amel Triki</span> <a href="https://www.youtube.com/@TutosInfo" style="color: red;">TutosInfo</a></h6>
      </div>
      <br>
      <br>
      <a routerLink='/accueil'><i class="fa-solid fa-backward"></i> Back  to principal page</a>