<app-menu></app-menu>
<div class="container" >
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
    
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../../assets/auto7.webp" class="d-block w-100" alt="BMW">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(5, 5, 99)"> BMW</h5>
                <p style="color: black;" class="badge text-bg-info">NOUVELLE BMW M2 COUPÉ</p>
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../../assets/auto6.webp" class="d-block w-100" alt="KIA">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(5, 5, 99);"> KIA</h5>
                <p style="color: black;" class="badge text-bg-info">KIA TRIOMPHE AUX VOLANTS D’OR DU MAGAZINE AUTO BILD 2022</p>
              </div>
          </div>
          <div class="carousel-item"  data-bs-interval="1000">
            <img src="../../assets/auto8.webp" class="d-block w-100" alt="FESTIVAL">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: rgb(5, 5, 99)"> FESTIVAL ICONS OF PORSCHE</h5>
                <p style="color: black;" class="badge text-bg-info">PLUS DE 15 000 VISITEURS POUR L'ÉDITION 2022</p>
              </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000" >
            <img src="../../assets/fond TOYOTA.png" class="d-block w-100" alt="TOYOTA">
            
          </div>
          <div class="carousel-item"  >
            <img src="../../assets/font BMW.png" class="d-block w-100" alt="BMW">
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div>
        <h3 style="text-align: center;">PRIX DU NEUF</h3>
        <h6 style="text-align:center;">DERNIERS MODÈLES</h6>
        <p style="text-align: center;"><i class="fa-solid fa-car-side"></i>--------------------------<i class="fa-solid fa-car-side"></i></p>
        <div class="card-group">
            <div class="card">
              <a [routerLink]="['/accueil',1]"><img style="height: 200px; " src="../../assets/autoHU.webp" class="card-img-top" alt="HYUNDAI"></a>
              <div class="card-body">
                <h5 class="card-title">HYUNDAI I20</h5>
                <p class="card-text">a partir de <strong>57 950 DT</strong></p>
              </div>
            </div>
            <div class="card" >
                <a [routerLink]="['/accueil',2]"> <img style="height: 200px; " src="../../assets/autoPG.webp" class="card-img-top" alt="PEUGEOT"></a>
              <div class="card-body">
                <h5 class="card-title">PEUGEOT 308</h5>
                <p class="card-text">a partir de <strong>108 990 DT</strong></p>
              </div>
            </div>
            <div class="card">
                <a [routerLink]="['/accueil',3]"><img style="height: 200px; " src="../../assets/autoKI.webp" class="card-img-top" alt="KIA"></a>
              <div class="card-body">
                <h5 class="card-title">KIA SPORTAGE</h5>
                <p class="card-text">a partir <strong>136 480 DT</strong></p>
              </div>
            </div>
            <div class="card">
                <a [routerLink]="['/accueil',4]"><img style="height: 200px; " src="../../assets/autoCher.webp" class="card-img-top" alt="CHERRY"></a>
                <div class="card-body">
                  <h5 class="card-title">CHERY TIGGO 8 PRO</h5>
                  <p class="card-text">a partir de <strong>159 500 DT</strong></p>
                </div>
              </div>
              <div class="card">
                <a [routerLink]="['/accueil',5]"><img style="height: 200px;" src="../../assets/autoJE.webp" class="card-img-top" alt="JEEP">
                </a>
                <div class="card-body">
                  <h5 class="card-title">JEEP COMPASS</h5>
                  <p class="card-text">a partir de <strong>160 000 DT</strong></p>
                </div>
              </div>
              
          </div>
    </div>
   
        <h2 style="text-align:center;">Customers</h2>
        <p style="text-align: center;"><i class="fa-solid fa-car-side"></i>--------------------------<i class="fa-solid fa-car-side"></i></p>
        <div style="display: flex;" class="container">
            <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/216.webp?t=7" alt="" />
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/3.webp?t=7" alt="" />
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/1544.webp?t=7" alt=""/>
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src=" https://catalogue.automobile.tn/marques/690.webp?t=7" alt=""/>
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/12.webp?t=7" alt=""/>
    
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/6.webp?t=7" alt=""/>
    
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src=" https://catalogue.automobile.tn/marques/7.webp?t=7" alt=""/>
    
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src=" https://catalogue.automobile.tn/marques/1246.webp?t=7" alt=""/>
    
                </div>
              </div>
              <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <img style="height: 100px;width:100px" src="https://catalogue.automobile.tn/marques/207.webp?t=7" alt=""/>
    
                </div>
              </div>
              
       
    </div>
    
         <div class="x">
            <div style="text-align:center;padding:1em 0;"> <h2><a style="text-decoration:none;" href="https://www.zeitverschiebung.net/fr/country/tn"><span style="color:gray;">Heure actuelle</span><br />Tunisie</a></h2> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=large&timezone=Africa%2FTunis" width="100%" height="140" frameborder="0" seamless></iframe> </div>
        
         </div>
