 /* .card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100px;
    word-wrap: break-word;
    background: rgb(255, 255, 255);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    align-content: space-between;
}

 .item {
   display: flex;
    
    height: 100px;
 }
 
.item img { width: 100px;
    
}

.item a:hover {
    color: blue;
}

.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}  */
img{
    width: 300px;
    height: 500px;
}
.x{background-color: white;width: 1520px;height: 300px;}

